@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}

.underlineEffect::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  bottom: -1px;
  left: 50%;
  background-color: #4080f2;
  transition: 0.5s;
}

.underlineEffect::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  bottom: -1px;
  right: 50%;
  background-color: #4080f2;
  outline: none;
  transition: 0.5s;
}

.underlineEffect:hover::before {
  width: 50%;
}

.underlineEffect:hover::after {
  width: 50%;
}

.mapCard {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 32px 32px 65px #e3e3e3, -32px -32px 65px #ffffff;
}
/* filled button styles here */
/* .filledButton {
  transition: all 0.5s ease-in;
  position: relative;
}
.filledButton svg {
  height: 100%;
  border-radius: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.filledButton rect {
  fill: none;
  stroke: #ffffff;
  stroke-width: 0;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
} */
/* .filledButton:hover {
  background: black;
  font-weight: 700;
}

.filledButton:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
} */

.filledButton:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.filledButton:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.filledButton::after {
  content: "";
  display: inline-block;
  background-color: #4b7dd349;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}

.filledButton:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* .filledButton-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
} */
.outlinedButton {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(246, 240, 240, 0);
  outline: 1px solid;
  outline-color: rgba(13, 13, 234, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.outlinedButton:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px #4080f2;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

/* .filledButton:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
} */

/* .filledButton:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #943ce3;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
} */

/* gradient here */

.btnGradient {
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 13px 26px rgba(#000, 0.16), 0 3px 6px rgba(#000, 0.16);
}

.btnGradient:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* styles for mui timeline */
.MuiTimeline-root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiTimelineItem-root {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.MuiTimelineSeparator-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.MuiTimelineConnector-root {
  width: 4px;
  background: #943ce3;
  height: 160px !important;
}

.MuiTimelineDot-root {
  color: #943ce3 !important;
  background-color: #943ce3 !important;
}

.MuiTimeline-positionAlternate
  .MuiTimelineContent-positionAlternate:nth-of-type(even) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: left;
}
.MuiTimeline-positionAlternate
  .MuiTimelineContent-positionAlternate:nth-of-type(odd) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.MuiTimeline-positionAlternate
  li:nth-of-type(even)
  .MuiTimelineContent-positionAlternate {
  justify-content: flex-end;
}

.MuiTimelineContent-positionAlternate {
  margin-top: 14px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  display: flex !important;
  align-items: flex-start !important;
}

.MuiTimelineItem-positionRight:before {
  content: none !important;
}

.MuiTimeline-positionRight .MuiTimelineConnector-root {
  width: 4px;
  background: #943ce3;
  height: 170px;
}

/* Positioned left timeline customization */
.MuiTimelineItem-positionLeft {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.MuiTimelineItem-positionLeft:before {
  content: none !important;
}

.MuiTimeline-positionLeft .MuiTimelineContent-root {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px 8px;
}

/* .MuiTimeline-positionLeft .MuiTimelineConnector-root {
  width: 0px;
  border-left: 4px dashed #164f18 !important;
  background: none !important;
  height: 77px !important;
} */

.MuiTimelineContent-positionRight {
  margin-top: 18px !important;
}
.MuiTimelineContent-positionLeft {
  padding: 0px 8px !important;
}

/* styles to apply backgroudn to accordin when expanded */
.Mui-expanded .MuiAccordion-region {
  /* background-color: #008026 !important; */
  transition: ease-in 0.2s !important;
}
.MuiAccordion-root .Mui-expanded {
  /* background-color: #008026 !important; */
  transition: ease-in 0.2s !important;
}
.MuiAccordion-root {
  border-radius: 16px !important;
  background-color: #f2f4f9;
  padding: 10px 6px !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -30px;
  z-index: 10;
}
.MuiAccordion-gutters {
  margin: 1.5rem 0 !important;
}
.MuiAccordion-root::before {
  display: none !important;
}

@media (min-width: 1025px) {
  .roadMap {
    background-color: #f5f7fd;
    clip-path: polygon(0 11%, 100% 0, 100% 90%, 0 100%);
  }
}
